/* Enter your custom styles here */


.fixPartHeading {
    font-size: 1.1rem;
    font-style: Bold;
    margin-left: 20px;
    margin-top: 10px;
}

.fixPartHbox,.fixBasicDataHbox {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

.fixPartSubVbox{
	
    display: block;
    align-items: center !important;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.companyLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sapMITBFilter {
    font-weight: bold;
}
